.moviesContainer::before {
    display: block;
    content: " ";
    height: 9vh;
    visibility: hidden;
}

.moviesContainer{
    background-color: #1e2126;
     /* z-index:-1; */
     padding: 0 4%;
    }

.backdrop img{
    /* position: relative; */
    z-index: 1;
    opacity: .5;
    box-shadow: 3px 5px 10px #000;
}

.background {
    /* border: #e8b708 solid 1px; */
    position: absolute;
    top: 22vh;
    bottom: 0;
    left: 22vw;
    right: 0;
    border-radius: 5px;
    /* background-color: #1e2126; */
    width: 70%;
    height: auto;
    opacity: 1;
    box-shadow: 3px 5px 10px #000;
}

/* .infoContainer { */
    /* position: absolute;
    top: 19vh;
    bottom: 0;
    left: 0;
    right: 0; */
    /* height: 100%;
    width: 100%; */
    /* z-index: 2; */
    /* display: flex; */
    /* margin-top: -99vh; */
    /* background-color: green; */
    /* justify-content: center; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* justify-content: space-between; */
/* } */

/* .posterContainer {
    position: relative;
    width: 341px;
    height: 506px;
    width: 82%;
    height: auto;
} */

.poster{
    position: absolute;
    top: 19vh;
    bottom: 0;
    left: 8vw;
    right: 0;
    border-radius: 5px;
    z-index: 1;
    /* width: 341px;
    height: 506px; */
    width: 26.5%;
    height: auto;
    transition: transform .6s;
    box-shadow: 3px 5px 10px #000;
}

@media(max-width:500px){
    .poster{
      top: 20vh;  
      left: 25vw;
      height: auto;
      width: 50%;
    }
  }

.poster:hover{
    transform: scale(1.1)
}

.playButton {
    position: absolute;
    left: 16.2vw;
    top: auto;
    z-index: 10;
    width: 10%;
    height: auto;
    opacity: .7;
    background-color: white;
    border-radius: 50%;
}

.playButton:hover {
    background-color: #1e2126;
}

.textContainer {
    position: absolute;
    top: 29vh;
    bottom: 11vh;
    left: 35vw;
    right: 6vw;
    display: inline-block;
    text-align: center;
    /* background-color: purple; */
}


@media(max-width:500px){
    .textContainer{
        top: 56vh;
        bottom: 11vh;
        left: 15vw;
        right: 14vw;
        display: inline;
        text-emphasis: center;
        z-index: 3;
    }
  }

.movieTitle {
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Homenaje', sans-serif; */
    color: rgb(230, 230, 230);
    font-size: 5vw;
    position: relative;
    justify-content: center;
    text-shadow: 3px 5px 10px #000;
    border-bottom: rgb(230, 230, 230);
    margin: 0 20px;
    /* margin:auto; */
    /* font-weight: 500; */
    /* top:-400px; */
    /* margin-left: 40%; */
    /* padding-bottom: 0px; */
}

@media(max-width:500px){
    .movieTitle{
     font-size: 4vh;
     margin:0 -10px;
    }
  }

.rating{
    font-size: 2vw;
    color:rgb(230, 230, 230);
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 20px;


    /* text-align: center; */
    /* top: -950px; */
    /* margin-left: 40%; */
    /* font-family: 'Lato', sans-serif; */
    text-shadow: 3px 5px 10px #000;
}

@media(max-width:500px){
    .rating{
     font-size: 2vh;
     margin-top:10px; 
     justify-content: center;
     margin-left: 0%;

    }
  }

.imdb {
    border: #e8b708 solid .5px;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 10px;
    box-shadow: 3px 5px 10px #000;
    background-color: #1e21268e;

}

 .description {
    border: #e8b708 solid .5px;
    border-radius: 5px;
    font-size: 1.5vw;
    /* font-family: 'Lato', sans-serif; */
    color: rgb(230, 230, 230);
    /* margin-left: 40%; */
    position: relative;
    text-shadow: 3px 5px 10px #000;
    margin: 0 3%;
    /* border: rgb(230, 230, 230) solid 1px; */
    padding: 5px 1px;
    background-color: #1e21268e;
    box-shadow: 3px 5px 10px #000;
    line-height: 1.4;

    /* bottom: 550px; */
    /* padding-bottom: 0px; */
    /* margin-right: 9%; */
  }

  @media(max-width:500px){
    .description{
     font-size: 2vh;
    }
  }
  
 