.MoviesInfo::before {
    display: block; 
    content: " "; 
    height: 9vh; 
    visibility: hidden;
}

.MoviesInfo{
    background:#F0F0E1;
    position: absolute;
    overflow: hidden;
    z-index:-1;
    padding-bottom: 0px;
    height: 120vh;
 }
 
 .movieTitle {
  font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    color: White;
    font-size: 70px;
    position: relative;
    top:-400px;
    margin-left: 40%;
    padding-bottom: 0px;
 }
 
 .description {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    color: black;
    margin-left: 40%;
    position: relative;
    bottom: 550px;
    padding-bottom: 0px;
    margin-right: 9%;
  }
 
  .MoviePlay{
      position: relative;
      top: -500px;
      margin-left: 3%;
      width: 341px;
      height: 506px;
      padding-bottom: 0px;
      transition: transform .3s
  }

  .MoviePlay:hover{
    transform: scale(1.1)
  }
 
  .rating{
      font-size: 25px;
      color:white;
      position: relative;
      top: -950px;
      margin-left: 40%;
      font-family: 'Lato', sans-serif;
  }
