::-webkit-scrollbar {
    display: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {     
  background: #1e2126;
  width: 100vw;
}

.drivemovies::before {
    display: block; 
    content: " "; 
    height: 55px;
    visibility: hidden; 
}
  
.drivemovies {
    background-color: #1e2126;
    width: 100vw;
}

.toolbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 13px;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #2b3e48; */
    justify-content: left;
    /* padding: 0; */
}

.fa-bars {
    color: rgb(230, 230, 230);
    margin: 8px 6px;
    padding: 5px 14px;
    text-shadow: 3px 5px 10px #000;
    z-index: 2;
    display: none;
}

.fa-bars:hover {
    color: #d4d5d6;
    transform: scale(1.05);
    /* border: #fff solid .01px */
}

@media(max-width:412px){
    .fa-bars{
        display: initial;
        margin: 8px 0px;
        padding: 0px 0px;
        margin-left: 6px;
        font-size: 1.8em;
    }
    .a-z{
        display: none;
    }
    .popular{
        display: none;
    }
    .topRated{
        display: none;
    }
    .releaseDate{
        display: none;
    }
    .searchbar input {
        border-radius: 3px;
        background-color: rgb(230, 230, 230);
        color: #1e2126;
        border: none;
        font-size: 15px;
        margin: 8px 6px;
        padding: 5px 14px;
        box-shadow: 3px 5px 10px #000;
        width: 70.5vw;
    }
}

.hamburgerAZ {
    color: black;
}


.button-container button {
    border-radius: 3px;
    /* margin-left: 20px; */
    background-color: #1e2126;
    color: rgb(230, 230, 230);
    border: none;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Amatic SC', cursive; */
    font-size: 15px;
    /* font-size: 1.17vw; */
    margin: 8px 6px;
    padding: 5px 14px;
    /* box-shadow: 3px 5px 10px #000; */
    text-shadow: 3px 5px 10px #000;
    outline: none;
    /* letter-spacing: .5px; */
    z-index: 2;
}

.button-container button:hover {
    color: #d4d5d6;
    transform: scale(1.05);
    /* border: #fff solid .01px */
   }

.searchbar input {
    border-radius: 3px;
    /* margin-left: 20px; */
    /* background-image: linear-gradient(to right, #5f6875, #353a42); */
    background-color: rgb(230, 230, 230);
    color: #1e2126;
    border: none;
    /* font-family: 'Amatic SC', cursive; */
    font-size: 15px;
    margin: 8px 6px;
    padding: 5px 14px;
    box-shadow: 3px 5px 10px #000;
}



/* .searchbar button {
    border-radius: 3px;
    background-color: #1e2126;
    color: rgb(230, 230, 230);
    border: none;
    font-size: 15px;
    margin: 8px 6px;
    padding: 5px 14px;
    text-shadow: 3px 5px 10px #000;
} */

/* .searchbar button:hover {
    color: #d4d5d6;
    transform: scale(1.05);
} */

.poster-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 10px 32px; */
    margin: 20px 0;
    /* background: purple; */
}

.poster-container img {
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* margin-bottom: 185px; */
    margin-bottom: 10px;
    box-shadow: 3px 5px 10px #000;
    transition: transform .3s;
    /* opacity: .5; */
    z-index: 1;
    /* filter: grayscale(); */
    /* background-color: #1e2126 */
}

.poster-container img:hover {
    transform: scale(1.1);
    z-index: 3;
}

@media(max-width:412px){
    .poster-container{
        margin: 5px 0;

    }
    .poster-container img {
        width: 175px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:389px){
    .poster-container img {
        width: 165px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Marvel */
.marvel-container {
    background-image:url("https://www.desktopbackground.org/download/2560x1440/2015/12/23/1062154_top-hd-chalk-board-wallpapers_3600x3600_h.jpg");
    background-size: cover;
    /* opacity: 0.5; */
    /* background: #550703; */
    /* box-shadow: 3px 5px 10px #000; */
    box-shadow: 1px 1px 11px 5px #000;
    padding-top: 20px;
    padding-bottom: 20px;
    /* z-index: -10,000; */
    overflow: hidden;
}

@media(max-width:412px){
    .marvel-container{
        padding-top: 0;
        padding-bottom: 4vh;
    }
}

.club { 
  border: solid 1px rgb(230, 230, 230);
  border-radius: 3px;
  box-shadow: 3px 5px 10px #000;
  padding: 8px 4px 0 0;
  margin: auto auto;
  text-align: center;
  color: rgb(230, 230, 230); 
  width: 545px; 
  /* margin-top: 0;   */
  font-size: 12em; 
  line-height: .70;
  font-family: "Rock Salt", sans-serif; 
  text-shadow: 3px 5px 10px #000;
  /* position: absolute; */
  z-index: 1;
  margin-bottom: 50px;
}

@media(max-width:412px){
    .club{
        width: 55%;
        font-size: 5em; 
        line-height: .60;
        margin-bottom: 0;
    }
}

.the { 
  /* border: solid 1px rgb(230, 230, 230); */
  /* box-shadow: 3px 5px 10px #000; */
  top: 35px;
  padding: 8px 4px 0 0;
  margin: auto auto;
  text-align: center;
  color: rgb(230, 230, 230); 
  width: 570px; 
  /* margin-top: 0;   */
  font-size: 5em; 
  line-height: .80;
  font-family: "Rock Salt", sans-serif; 
  text-shadow: 3px 5px 10px #000;
  position: relative;
  z-index: 2;
}

@media(max-width:412px){
    .the{
        top: 1.8vh;
        width: 55%;
        font-size: 2em; 
        line-height: .80;
        margin-bottom: 0;
    }
}

.studios { 
  font-family: "Orbitron", sans-serif;
  animation: zoomOut 9s ease-in-out infinite;
  -webkit-animation: zoomOut 9s ease-in-out infinite ;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 67px;
  text-align: center;
  position: relative;
  margin: 7px 15px 5px 270px;
  text-shadow: 3px 5px 10px #000;
  bottom: 54px;
  letter-spacing: 3em;
  /* font-size: large; */
}

@media(max-width:412px){
    .studios{

        margin: 0 0 0 0;
        bottom: .3vh;
        left: 12vw;
        letter-spacing: 17px;
        font-size: .5em;
    }
}

.alphabetical {
    padding: 8px 32px;
    display: flex;
    border-bottom: 0.1px solid grey;
    width: 100%;
    align-items: center;
    overflow: scroll;
}

@media(max-width:412px){
    .alphabetical {
        padding: 8px 0;
    }
}

.alphabetical h1 {
    color: white;
    font-size: 400%;
}

@media(max-width:412px){
    .alphabetical h1 {
        font-size: 3em
    }
}

.letters {
    margin-right: 48px;
    margin-left: 25px;
}

@media(max-width:412px){
    .letters {
        margin-right: 10px;
        margin-left: 20px;
    }
}

.marginRight {
    /* margin-right: 16px; */
}