.LogOutButton::before {
  display: block; 
  content: " "; 
  height: 9vh; 
  visibility: hidden; 
}

.LogOutButton{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color:black;
  }

