.loginContainer::before {
  display: block;
  content: " ";
  height: 9vh;
  visibility: hidden;
}

.loginContainer {
  padding-top: 200px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loginPage{
    border: solid white;
    color: white;
    opacity: .7;
    text-align: center;
    margin: 0 35%;;
    font-family: 'Josefin Slab', serif;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-image: url('https://cpb-us-e1.wpmucdn.com/blog.umd.edu/dist/b/504/files/2017/09/dark-1a9lh34.jpg');

  }

  .loginPage input {
    width: 80%;
    height: 15%;
    border-radius: 6px;
    text-align: center;
    margin-top: 1%;
  }
  
  
  .LoginButton{
    margin-top: 5px;
    font-size: 13.5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    opacity: .6;
    background-color: black;
    width: 70%;
    height: 13%;
    margin-bottom: 3%;
    border-radius: 5px;
  }

  .LoginButton:hover {
    background-color:grey; 
    color: white;
  }
  
  @media(max-width:500px){
    .loginPage{
      margin: 5% 10% 5% 10%;
    }
  }