.search::before {
    display: block; 
    content: " "; 
    height: 55px; 
    visibility: hidden;
}


.searchS::before {
    display: block; 
    content: " "; 
    height: 9vh; 
    visibility: hidden;
}

.paddingN{
    margin-top: 10%;
}

.searchS{
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: 50px;
    
}

.LinkDiv{
    margin-top: 3%;
    text-align: center;
    border: 1px solid rgb(230, 230, 230); 
    opacity: .9;
    width: 15%;
    margin-left: 42%;
    transition: transform .9s;
    padding: 8px;
    margin-bottom: 24px;
}

/* .LinkDiv:hover{
    transform: scale(1.1);
    border-color: grey;
} */

.linkHome{
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.exact{
    margin-top: 2%;
    text-align: center;
    color: rgb(230, 230, 230);
}

.requestText {
    margin-top: 2%;
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: 32px;
}

.requestButton button{
    text-align: center;
    font-size: 16px;
    color: rgb(230, 230, 230);
    background-color: black;
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
    margin: auto;
    display: block;
    background-color: #1E2025;
    outline: none;
    cursor: pointer;
}

#request button{
    color: rgb(230, 230, 230);
    font-size: 16px;
}